# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 远哥制造
subtitle: yuangezhizao
description: 远哥制造
keywords: 远哥制造
author: 远哥制造
email: root@yuangezhizao.cn
language: zh-CN
timezone: PRC

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://www.yuangezhizao.cn
root: /
permalink: articles/:title.html
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
total_format: YYYY年MM月DD日 HH时mm分ss秒

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

html_minifier:
  enable: true
  exclude:
css_minifier:
  enable: true
  exclude:
    - '*.min.css'
js_minifier:
  enable: false
  mangle: true
  output:
  compress:
  exclude:
    - '*.min.js'
image_minifier:
  enable: false
  interlaced: false
  multipass: false
  optimizationLevel: 2
  pngquant: false
  progressive: false
# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: indigo

feed:
  type: atom
  path: atom.xml
  limit: 0

jsonContent:
  meta: false
  pages: false
  posts:
    title: true
    date: true
    path: true
    text: true
    raw: false
    content: false
    slug: false
    updated: false
    comments: false
    link: false
    permalink: false
    excerpt: false
    categories: false
    tags: true

restful:
  # site 可配置为数组选择性生成某些属性
  # site: ['title', 'subtitle', 'description', 'author', 'since', email', 'favicon', 'avatar']
  site: false        # hexo.config mix theme.config
  posts_size: 10    # 文章列表分页，0 表示不分页
  posts_props:      # 文章列表项的需要生成的属性
    title: true
    slug: true
    date: true
    updated: true
    comments: true
    path: true
    excerpt: false
    cover: true      # 封面图，取文章第一张图片
    content: false
    keywords: false
    categories: true
    tags: true
  categories: true  # 分类数据
  tags: true        # 标签数据
  post: true        # 文章数据
  pages: false      # 额外的 Hexo 页面数据, 如 About

port: 4000
logger: true
logger_format:

sitemap:
  path: sitemap.xml

neat_enable: false
neat_html:
  enable: false
  exclude:
    - '*.ejs'
neat_css:
  enable: true
  exclude:
    - '*.min.css'
neat_js:
  enable: false
  mangle: true
  output:
  compress:
  exclude:
    - '*.min.js'

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: git@git.coding.net:yuangezhizao/yuangezhizao.git
  branch: master
